<h1><%= "#{@team.hometown} #{@team.name}" %></h1>
<ul>
<% @team.players.each do |player| %>
  <li><%= link_to player.name, player_path(player)%></li>
<% end %>
</ul>
<%= button_to 'Back to Teams List', user_path(@current_user), method: 'get'%>
<%= button_to "Edit Team Info", edit_team_path(@team), method: 'get' %>
<%= button_to "Edit Players", edit_draft_path(@team), method: 'get'%>
