<h1><%= @player.name %></h1>

<h2> Position: <%= @player.position %> </h2>

<table id="Statistics">
  <tr>
    <th>Points Per Game</th>
    <th>Field Goal Attempts</th>
    <th>Field Goal %</th>
    <th>Rebounds</th>
  </tr>
  <tr>
    <td><%= @player.ppg %></td>
    <td><%= @player.fga %></td>
    <td><%= @player.fgp %></td>
    <td><%= @player.reb %></td>
  </tr>
  <tr>
    <th>Assists</th>
    <th>Steals</th>
    <th>Blocks</th>
    <th>Turnovers</th>
  </tr>
  <tr>
    <td><%= @player.ast %></td>
    <td><%= @player.stl %></td>
    <td><%= @player.blk %></td>
    <td><%= @player.tov %></td>
  </tr>
</table>
