<h1><%= @team.full_name %></h1>
<h3>Draft Your Players: </h3>
<%= form_tag drafts_path method='POST' do %>
  <%= hidden_field_tag 'draft[team_id]', @team.id %>
  <%= label_tag "Point Guard" %>
  <%= collection_select 'draft[point_guard]', :player_id, @point_guards, :id, :name, prompt: true %>
  <%= label_tag "Shooting Guard" %>
  <%= collection_select 'draft[shooting_guard]', :player_id, @shooting_guards, :id, :name, prompt: true %>
  <%= label_tag "Small Forward" %>
  <%= collection_select 'draft[small_forward]', :player_id, @small_forwards, :id, :name, prompt: true %>
  <%= label_tag "Power Forward" %>
  <%= collection_select 'draft[power_forward]', :player_id, @power_forwards, :id, :name, prompt: true %>
  <%= label_tag "Center" %>
  <%= collection_select 'draft[center]', :player_id, @centers, :id, :name, prompt: true %>
  <%= submit_tag "Draft Players" %>
<% end %>
