<!DOCTYPE html>
<html>
  <head>
    <title>NBAFantasyDraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h1 id='main-title'>NBAFantasyDraft</h1>
      <div class="dropdown">
        <button class="dropbtn">
          <img src='https://static.thenounproject.com/png/192837-200.png' />
        </button>
        <% if logged_in? %>
          <div class="dropdown-content">
            <%= link_to 'Profile', user_path(@current_user) %>
            <%= link_to 'Edit Info', edit_user_path(@current_user) %>
            <%= link_to 'Logout', logout_path, method: 'delete' %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <div class='marquee'>
        <div class="images">
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item"></div>
      <div class="grid-item" id='site-main'>
        <div><%= yield %></div>
      <div class="grid-item"></div>
    </div>
  </body>
</html>
